body {
    background-color: orange;
}

h1 {
    background-color: lightcoral;
}

h2 {
    background-color: lightblue;
}

h3 {
    background-color: lightgreen;
}
nav {
    background-color: aqua;
}
#intro
{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
.main-section-content h2{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
#bestsellers,
footer{
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header,
nav,
#intro,
#main-section,
#bestsellers,
footer {
    border: 1px  solid black
}
.teacher-info div:last-child{
margin-left: 50px

}
.main-section-content{
    padding: 20px
}
table{
    margin:auto
}
th,
td{
    padding:10px
}
footer{
    padding: 20px;
}
#bestsellers h2{
    padding:20px
}
ol,
li{
    margin-bottom: 20px;
}